@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600&display=swap");

body {
  background-color: #22272e;
  display: grid;
  overflow-x: auto;
  grid-auto-flow: column;
}

.text {
  font-family: Montserrat;
  font-weight: 600;
  color: #b6c2cf;
}

.justify-center {
  justify-content: center;
}

.algin-center {
  align-items: center;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  flex-direction: row;
  gap: 20px;
  font-family: Montserrat;
}

.board {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  padding: 15px;
  background-color: #2d333b;
  color: white;
  /* gap: 20px; */
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.board button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #2d333b;
  color: #9fadbc;
  gap: 10px;
  padding: 6px 12px 6px 12px;
  font-weight: bold;
}

.board button:hover {
  background-color: #1e242b;
}

.board-h3 {
  margin: 0px 5px 10px;
  /* margin: 0;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid #0198fa;
  border-radius: 10px; */
}

/* Task --------------- */
.task {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: 90px;
  background-color: #1e242b;
  border-radius: 10px;
  color: #b6c2cf;
  border: 2px solid #1e242b;
  margin-bottom: 10px;
}

.task:hover {
  border: 2px solid #0198fa;
}

.task-check {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: larger;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.task-content h4 {
  font-size: medium;
  margin: 5px 0 0;
}

.task-content p {
  font-size: smaller;
  margin: 0;
}

.priority-status {
  display: flex;
  gap: 10px;
}

.priority {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 20px;
  width: 65px;
  color: black;
  background-color: #0198fa;
  font-family: Montserrat;
  font-size: smaller;
}

.statusSelect {
  height: 20px;
  border-radius: 5px;
  background-color: rgb(45, 51, 59);
  color: #b6c2cf;
  border: none;
  overflow: hidden;
}

.task-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: larger;
  justify-content: center;
}

.task-menu i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.task-menu i:hover {
  background-color: #414c56;
}

/* modal */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

.modal-bg {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  opacity: 1;
  background-color: #313941;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.modalHeader button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d333b;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.modalHeader button:hover {
  background-color: #181c23;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.modalHeader h2 {
  margin: 0;
}

.selectMenu {
  background-color: #22272b;
  color: #b6c2cf;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  height: 30px;
  overflow: hidden;
}

.form p {
  margin: 0;
  font-size: 16px;
}

.form input {
  height: 30px;
  border: none;
  background-color: #3a444d;
  border-radius: 5px;
  color: white;
  padding: 0 10px;
}

.form input:hover {
  background-color: #414c56;
}

.form button {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: #3a444d;
  justify-content: center;
  align-items: center;
}

.form button:hover {
  background-color: #1e242b;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form textarea {
  height: 100px;
  border: none;
  background-color: #3a444d;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  resize: none;
}

.form textarea:hover {
  background-color: #414c56;
}

.selectMenu {
  height: 30px;
  width: 100%;
}
