@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600&display=swap");

body {
  margin: 0;
  background-color: #22272e;
}

.text {
  font-family: Montserrat;
  font-weight: 600;
  color: white;
}

.boards {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

.board {
  width: 330px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #2d333b;
  /* background: linear-gradient(
    126.6deg,
    rgba(124, 130, 177, 0.12) 28.69%,
    rgba(17, 18, 27, 0) 100%
  ); */
  color: white;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.board button {
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #191e24;
  color: white;
}

.board button:hover {
  background-color: #1e242b;
}

h3 {
  font-family: Montserrat;
  margin: 0;
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
}

.modal-bg {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  opacity: 1;
  background-color: #22272e;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}
.modalHeader button {
  background-color: #2d333b;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader button:hover {
  background-color: #181c23;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modalHeader h2 {
  margin: 0;
}

.selectMenu {
  background-color: #d0d2d60f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}

form p {
  margin: 0;
}

form input {
  height: 30px;
  border: none;
  background-color: #d0d2d60f;
  border-radius: 7px;
  color: white;
  padding: 0 10px;
}

form button {
  height: 40px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  background-color: #191e24;
}

form button:hover {
  background-color: #1e242b;
}

form textarea {
  height: 100px;
  border: none;
  background-color: #d0d2d60f;
  border-radius: 7px;
  color: white;
  padding: 10px 10px;
}

.selectMenu {
  height: 30px;
}
